[Web Services]
appsignature: none
clientid: <CLIENT_ID>
clientsecret: <CLIENT_SECRET>
defaultwsdl: https://webservice.exacttarget.com/etframework.wsdl
authenticationurl: <AUTH TENANT SPECIFIC ENDPOINT>
wsdl_file_local_loc: <WSDL_PATH>/ExactTargetWSDL.xml

[Auth Service]
useOAuth2Authentication: True
accountId: <TARGET_ACCOUNT_ID>
scope: <PERMISSION_LIST>
applicationType: <APPLICATION_TYPE>
redirectURI: <REDIRECT_URI_FOR_PUBLIC/WEB_APP>
authorizationCode: <AUTHORIZATION_CODE_FOR_PUBLIC/WEB_APP>