[Web Services]
appsignature: none
clientid: XXXXXXXXXXXXXXXXXXXXXXXX
clientsecret: XXXXXXXXXXXXXXXXXXXXXXXX
defaultwsdl: https://webservice.exacttarget.com/etframework.wsdl
baseapiurl: https://www.exacttargetapis.com
authenticationurl: https://auth.exacttargetapis.com/v1/requestToken?legacy=1
soapendpoint: https://webservice.exacttarget.com/Service.asmx
wsdl_file_local_loc: /tmp/ExactTargetWSDL.s6.xml
